<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/LogoCat.png') }}" > 
    <link rel="icon" type="image/ico" href="./img/LogoCat.ico" >

        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>UFitOps</title> 
</head>

<body style="overflow: hidden;">
<div class ="posit">
    <div class="container">
        <!-- Оце не видаляти ви мене зроз? SIDEBAR search user see All song  -->
        <!-- ok -->
        <aside class="sidebar">
            <div id="fix">
            <div class="logo">
              <button class="menu-btn" id="menu-close">
                    <i class='bx bx-log-out-circle'></i>
                </button>
                <div><a href="#"><img src="{{ url_for('static', filename='img/LogoCat_no_bg.png') }}" style="width: 5vw;"/></a> </div>
                <a href="#">UFitOps</a>
            </div>

            <div class="menu">
                <h5>Menu</h5>
                <ul>
                   
                    <li>
                        <i class='bx bxs-volume-full'></i>
                        <a href="#">Genres</a>
                    </li>
                    <li>
                        <i class='bx bxs-album'></i>
                        <a href="#">Albums</a>
                    </li>
                    <li>
                        <i class='bx bxs-microphone'></i>
                        <a href="#">Artists</a>
                    </li>
                    <li>
                        <i class='bx bxs-radio'></i>
                        <a href="#">Poddcasts</a>
                    </li>
                </ul>
            </div>
<div class="position">
            <div class="menu">
                <h5>Library</h5>
                <ul>
                    <li>
                        <i class='bx bx-undo'></i>
                        <a href="#">Recent</a>
                    </li>
                    <li>
                        <i class='bx bxs-photo-album'></i>
                        <a href="#">Albums</a>
                    </li>
                    <li>
                        <i class='bx bxs-heart'></i>
                        <a href="#">Favourites</a>
                    </li>
                    <li>
                        <i class='bx bxs-folder'></i>
                        <a href="#">Local</a>
                    </li>

                </ul>
            </div>

            <div class="menu">
                <h5>Playlist</h5>
                <ul>
                    <li>
                        <i class='bx bxs-plus-square'></i>
                        <a href="#">Create New</a>
                    </li>
                    <li>
                        <i class='bx bxs-caret-right-circle'></i>
                        <a href="#">Best of 2024</a>
                    </li>
                </ul>
            </div>
        </div>
        </aside>
        <!-- ------------------ -->
        
        <main>
            <header>
                <div class="search">
                    <i class='bx bx-search'></i>
                    <input type="text" placeholder="Type here to search">
                </div>

            </header>

            <div class="trending">
                <div class="left">
                    <h5 id="status">Trending New Song</h5>
                    <div class="info">
                        <h3 id="status-title">{{ song.title }}</h2>
                        <h4 id="status-artist">{{ song.artist }}</h4>
                        <h5 id="status-views"><i class='bx bx-group' style="margin-right: 5px; color:#919191"></i>{{ song.views }}  views</h5>
                        <div class="buttons">
                            <button>Listen Now</button>
                            <i class='bx bxs-heart'></i>
                        </div>
                    </div>
                </div>
                <img id="status-thumbnail" src="{{song.thumbnails}}">
            </div>

            <div class="playlist">
                <div class="genres">
                    <div class="header">
                        <h5>Genres</h5>
                        <a href="#">See all</a>
                    </div>

                    <div class="items">
                        <div class="item">
                            <p>Electro<br>Pop</p>
                        </div>
                        <div class="item">
                            <p>Dance<br>Beeat</p>
                        </div>
                        <div class="item">
                            <p>Clubhouse<br>Remix</p>
                        </div>
                        <div class="item">
                            <p>Hip Hop<br>Rap</p>
                        </div>
                        <div class="item">
                            <p>Alternative<br>Indie</p>
                        </div>
                        <div class="item">
                            <p>Classical<br>Period</p>
                        </div>
                    </div>

                </div>

          

            </div>

            
        </main>
        
<!-- PROFILE -->

        <div  class="right-section">
           
            <div class="profile">
                <i class='bx bxs-bell'></i>
                <i class='bx bxs-cog'></i>
                <div class="user">
                    <div class="left">
                        <a href="/login"><i class="bx bxs-user"></i></a>
                    </div>
                    <div class="right">
                        <a href="/login"> <h5>{{user}}</h5></a>
                    </div>
                </div>
            </div>
            <div class="music-list">
                <div class="header">
                    <h5>Top Songs</h5>
                    <a href="/SeAll_Songs">See all</a>
                </div>

                <div class="items">
                    {% for song_top in songs %}
                    <div class="item" data-song='{{ song_top | tojson | safe }}'>
                        <div class="info">
                            <p>{{ song_top.id }}</p>
                            <img src="{{ song_top.thumbnails }}">
                            <div class="details">
                                <h5>{{song_top.title }}</h5>
                                <p>{{song_top.artist }}</p>
                            </div>
                        </div>
                        <div class="actions">
                            <p>{{song_top.duration}}</p>
                            <div class="icon play-button">
                                <i class='bx bxs-right-arrow'></i>
                            </div>
                            <i class='bx bxs-plus-square'></i>
                        </div>
                    </div>
                    {% endfor %}
              
                  
                </div>

            </div>
            
        
<!-- MUSIC PLAYER -->
<!-- <div class="music-player">
    <div class="top-section">
        <div class="header">
            <h5>Player</h5>
            <i class='bx bxs-playlist'></i>
        </div>
        <div class="song-info">
            <img id="thumbnail" src="">
            <div class="description">
                <h3 id="song-title"></h3>
                <h5 id="song-artist"></h5>
            </div>
            <div class="progress">
                <p id="current-time">00:00</p>
                
    
    <input type="range" id="time_range" name="time" min="0" max="100" value="0">
                <p id="total-time">00:00</p>
              
            </div>
        </div>
    </div>

    <div class="player-actions">
        <div class="buttons">
            <i class='bx bx-repeat'></i>
            <i class='bx bx-first-page'></i>
            <i id="player" class='bx bxs-right-arrow play-button ' ></i>
            <i class='bx bx-last-page'></i>
            <i class='bx bx-transfer-alt'></i>
        </div>
        <div class="lyrics">
            <i class='bx bx-chevron-up'></i>
            <h5>LYRICS</h5>
        </div>
    </div>

   
   
</div> -->


        </div>
        
    </div>
   
</div>
   
<div class="control-panel">
    <input type="range" id="time_range" name="time" min="0" max="100" value="0">
    <div class="grid">
   
    <div class="button">
        <div><i class='bx bx-first-page'></i></div>
        <div><i id="player" class='bx bxs-right-arrow play-button'></i></div>
        <div><i class='bx bx-last-page'></i></div>
        <div class="time"><span id="current-time">00:00</span>/<span id="total-time">00:00</span></div>
    </div>
    <div class="song-info">
    <div>  
        <img id="thumbnail" src="{{song.thumbnails}}">  
    </div>
    <div class="song-info-text">
    <h5 id="song-title">{{song.title}}</h5>
    <h6 id="song-artist">{{song.artist}}</h6>
    </div>
</div>

</div>
   
</div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/PlayMusic.js')}}"></script>
</body>

<audio id="audio-player" controls  style="display: none;" >
    <source id="audio-source" src="{{song.url}}" type="audio/ogg">
</audio>
</html>